In [1]:
import numpy as np
import pandas as pd

# data frame column is series and rows are records

s = pd.Series(np.arange(3), index=["F", "S", "T"])

In [10]:
s.index

Index(['F', 'S', 'T'], dtype='object')

In [22]:
a2 = np.random.rand(3,3)
df = pd.DataFrame(a2, index=list("123"), columns=list("stu"))
df

          s         t         u
1  0.335183  0.380179  0.913781
2  0.720105  0.003471  0.988127
3  0.906935  0.050170  0.409624

In [23]:
print(df['s'])

1    0.335183
2    0.720105
3    0.906935
Name: s, dtype: float64

In [90]:
##pandas with csv #### read_csv function

import os
import pandas as pd
import numpy as np

file_data = pd.read_csv(r'D:\dev\large_dataset\artwork_data.csv')

# pandas will automatically assign an ID, if you want to change that then specicy the column you want to be the id e.g.
file_data = pd.read_csv(r'D:\dev\large_dataset\artwork_data.csv', index_col='id')

# to read only top few rows()
file_data = pd.read_csv(r'D:\dev\large_dataset\artwork_data.csv', index_col='id', nrows=2)

# to specify which columns should be loaded and used use usecols=['id', 'artist']
col_list_raw = 'id,accession_number,artist,artistRole,artistId,title,dateText,medium,creditLine,year,acquisitionYear,dimensions,width,height,depth,units,inscription,thumbnailCopyright,thumbnailUrl,url'
file_data = pd.read_csv(
    r'D:\dev\large_dataset\artwork_data.csv',
    index_col='id',
    usecols=col_list_raw.split(',')
    )
file_data

# to use the data frame in the future and keep it on the side for now to native python format called pickle
df.to_pickle(os.path.join('.', 'df.pickle'))
df

     Coffee Price
0  Expresso    $5
1    Coffee    $5

In [110]:
## loading json file with pandas ###
import json
import os
import pandas


with open(r"D:\dev\large_dataset\simple_json.json") as f:
    df = pd.read_json(f,orient='columns')
    print(df)
#     df = pd.DataFrame(json.load(f))
#     print(df)

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
2         9 2015-01-01 00:00:02         0
3         6 2015-01-01 00:00:03         0
4         6 2015-01-01 00:00:04         0
..      ...                 ...       ...
95        9 2015-01-01 00:01:35         0
96        8 2015-01-01 00:01:36         0
97        6 2015-01-01 00:01:37         0
98        8 2015-01-01 00:01:38         0
99        1 2015-01-01 00:01:39         0

[100 rows x 3 columns]

In [125]:
# Create URL to JSON file (alternatively this can be a filepath)
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient='columns')

# View the first ten rows
df.head(10)
print(df)

    integer            datetime  category
0         5 2015-01-01 00:00:00         0
1         5 2015-01-01 00:00:01         0
2         9 2015-01-01 00:00:02         0
3         6 2015-01-01 00:00:03         0
4         6 2015-01-01 00:00:04         0
..      ...                 ...       ...
95        9 2015-01-01 00:01:35         0
96        8 2015-01-01 00:01:36         0
97        6 2015-01-01 00:01:37         0
98        8 2015-01-01 00:01:38         0
99        1 2015-01-01 00:01:39         0

[100 rows x 3 columns]

In [132]:
import json
import pandas as pd
import pandas.json_normalize

url='https://github.com/a9k00r/python-test/blob/master/raw_nyc_phil.json'
df = pd.read_json(url, orient='columns')

ModuleNotFoundError: No module named 'pandas.json_normalize'