In [3]:
# https://app.pluralsight.com/library/courses/spark-2-building-machine-learning-models/table-of-contents

import pyspark
from pyspark.sql import SparkSession


spark = SparkSession.builder.getOrCreate()

file = 'file:///D:/dev/large_dataset/ml-20m/links.csv'
file2 = 'file:///D:/dev/large_dataset/ml-20m/movies.csv'

#df = spark.read.format("csv").option("header", "yes").option("inferSchema", "true").load(file)
df = spark.read.format("csv").option("header", "true").load(file)
df2 = spark.read.format("csv").option("header", "true").load(file2)

# df.count()
# df2.count()

In [9]:
df.createOrReplaceTempView("tview")
df2.createOrReplaceTempView("tview2")

df.show()

+-------+-------+--------+
|movieId| imdbId|  tmdbId|
+-------+-------+--------+
|      1|0114709|  862.11|
|      2|0113497| 8844.11|
|      3|0113228|15602.11|
|      4|0114885|31357.11|
|      5|0113041|11862.11|
|      6|0113277|  949.11|
|      7|0114319|11860.11|
|      8|0112302|45325.11|
|      9|0114576| 9091.11|
|     10|0113189|  710.11|
|     11|0112346| 9087.11|
|     12|0112896|12110.11|
|     13|0112453|21032.11|
|     14|0113987|10858.11|
|     15|0112760| 1408.11|
|     16|0112641|  524.11|
|     17|0114388| 4584.11|
|     18|0113101|    5.11|
|     19|0112281| 9273.11|
|     20|0113845|11517.11|
+-------+-------+--------+
only showing top 20 rows

AttributeError: 'DataFrame' object has no attribute 'spark'

In [11]:
df_sql = spark.sql("select * from tview limit 10")
df_sql.show()
df_sql2 = spark.sql("select genres from tview2")
#df_sql3 = spark.sql("select count(*) from tview2")
df_sql3 = spark.sql("select count(*), genres from tview2 group by genres limit 10")

spark.sql("select movieId from tview order by movieId DESC").show(3)

+-------+-------+--------+
|movieId| imdbId|  tmdbId|
+-------+-------+--------+
|      1|0114709|  862.11|
|      2|0113497| 8844.11|
|      3|0113228|15602.11|
|      4|0114885|31357.11|
|      5|0113041|11862.11|
|      6|0113277|  949.11|
|      7|0114319|11860.11|
|      8|0112302|45325.11|
|      9|0114576| 9091.11|
|     10|0113189|  710.11|
+-------+-------+--------+

+-------+
|movieId|
+-------+
|  99999|
|  99996|
|  99994|
+-------+
only showing top 3 rows

In [17]:
#df_sql.show()
#df_sql2.show()
df_sql3.show()

+--------+--------------------+
|count(1)|              genres|
+--------+--------------------+
|      27|Comedy|Horror|Thr...|
|       6|Adventure|Sci-Fi|...|
|       9|Action|Adventure|...|
|       4| Action|Drama|Horror|
|       4|Comedy|Drama|Horr...|
|       2|Action|Animation|...|
|       1|Fantasy|Musical|M...|
|       1|Adventure|Mystery...|
|       2|Animation|Childre...|
|      70|Action|Adventure|...|
+--------+--------------------+

In [18]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.clustering import KMeans

In [2]:
df_sql.show()
va = VectorAssembler(inputCols=['tmdbId'], outputCol="features")

NameError: name 'df_sql' is not defined

In [1]:
cluster = va.transform(df_sql)

NameError: name 'va' is not defined