In [2]:
import pandas as pd

df = pd.DataFrame([1,2,2,2,"ddd\nddd"])
df = df.replace(r'\n','', regex=True) 
df

        0
0       1
1       2
2       2
3       2
4  dddddd

In [3]:
df.index = df.index + 1

In [4]:
df

        0
1       1
2       2
3       2
4       2
5  dddddd

In [7]:
df = pd.read_csv(r"D:\dev\large_dataset\artwork_data.csv", low_memory=False)

In [9]:
df.count()

id                    69201
accession_number      69201
artist                69201
artistRole            69201
artistId              69201
title                 69201
dateText              69201
medium                62817
creditLine            69198
year                  63823
acquisitionYear       69156
dimensions            66768
width                 65860
height                65860
depth                  2514
units                 65860
inscription            6306
thumbnailCopyright    14239
thumbnailUrl          58415
url                   69201
dtype: int64

In [39]:
pd.to_numeric(df.accession_number, errors='coerce')

df.shape

(69201, 20)

In [46]:
df.dropna().shape

(164, 20)

In [50]:
df.dropna(how='all').shape

(69201, 20)

In [52]:
df.dropna(thresh=15).shape

(66379, 20)

In [55]:
df.dropna(how='all', subset=['year'], inplace=True)
df.shape

(63823, 20)

In [61]:
df.drop_duplicates(inplace=True)
df.shape

(63823, 20)

In [63]:
data = pd.read_csv(r"D:\dev\large_dataset\artwork_data.csv", low_memory=False)

data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
69196    False
69197    False
69198    False
69199    False
69200    False
Length: 69201, dtype: bool

In [65]:
data.loc[data.duplicated()]

Empty DataFrame
Columns: [id, accession_number, artist, artistRole, artistId, title, dateText, medium, creditLine, year, acquisitionYear, dimensions, width, height, depth, units, inscription, thumbnailCopyright, thumbnailUrl, url]
Index: []